* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #E68B03 100%, #9B05DB 200%);
    display: flex;
    justify-content: center;
    align-items: center;
}